/*ページ全般*/
.whiteTheme{
    color:lightslategray;
    background-color: whitesmoke;
}

button{
    color: white;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 10%;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
}

button:hover{
    color:lightslategray;
    background-color:whitesmoke;
}

/*カレンダー*/
#calendar{
    float:left;
    margin-left: 30px;
}

#calendar table{
    border-spacing: 0;
    border-collapse: collapse;
}

#calendar td{
    user-select: none;
    padding-right: 90px;
}

#calendar-head{
    font-size: 57px;
    margin-bottom: 45px;
}

.weeks{
    font-size: 20px;
}

.days{
    font-size: 24px;
    padding-bottom:57px;
    border: 1px solid dodgerblue;
}

.days:hover{
    background-color:#beeeff;
}

.daysSelected{
    background-color:#beeeff;
}

.today{
    background-color:palegoldenrod;
    border: 2px solid dodgerblue;
}

.sunday{
    color:red;
}

.saturday{
    color:blue;
}

.calendar-schedule{
    background-color:lightgreen;
    width:100px;
    position: absolute;
    font-size:12px;
}

/*タイムスケジュール*/
#timeschedule{
    float: right;
    width: 20%;
    height:100%;
    border:1px solid dodgerblue;
}

#timeschedule ul{
    margin-top:15px;
    list-style: none;
    padding-left:5px;
}

#ts-head{
    margin-top:5px;
    margin-left:5px;
    width:90%;
    font-size:24px;
    border-bottom: 1px solid lightgray;
}

#ts-notFound{
    padding-top: 100px;
    padding-bottom: 100px;
    font-size:24px;
}

.ts-time{
    height: 30px;
}

.ts-bar{
    margin-top:15px;
    position:absolute;
    width:15%;
    border-top: 1px solid lightgray;
}

.ts-schedules{
    z-index: 10;
    position: absolute;
    width:15%;
    margin-left:3.5%;
    border-radius:5%;
    background-color: lightgreen;
}

.ts-schedules a{
    float:right;
    color:lightslategray;
}