#calendar{
    float:left;
    margin-left: 30px;
}

#calendar table{
    border-spacing: 0;
    border-collapse: collapse;
}

#calendar td{
    user-select: none;
    padding-right: 90px;
}

#calendar-head{
    font-size: 57px;
    margin-bottom: 45px;
}

.weeks{
    font-size: 20px;
}

.days{
    font-size: 24px;
    padding-bottom:57px;
    border: 1px solid dodgerblue;
}

.today{
    background-color:palegoldenrod;
    border: 2px solid dodgerblue;
}

.sunday{
    color:red;
}

.saturday{
    color:blue;
}
