#hobbyChooser{
    background-color: white;
    color:lightslategray;
    font-size:28px;
    text-align: center;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:455px;
    height:500px;
    margin: auto;
    border:1px solid dodgerblue;
}

#hobbyChooser input{
    margin-bottom:30px;
    font-size: 28px;
    color:lightslategray;
    border: none;
    border-bottom: 1px solid lightgray;
}

#hobbyChooser table{
    border-spacing: 0;
    border-collapse: collapse;
}

#hobbyChooser td{
    padding:15px;
    user-select: none;
}

#hobbyChooser-title{
    height:50px;
    color:whitesmoke;
    background-color: dodgerblue;
}

#hobbyChooser-art{
    border:1px solid lightgray;
}

#hobbyChooser-sport{
    border:1px solid lightgray;
}

#hobbyChooser-subc{
    border:1px solid lightgray;
}

#hobbyChooser-leisure{
    border:1px solid lightgray;
}

#hobbyChooser-cook{
    border:1px solid lightgray;
}

#hobbyChooser-handyc{
    border:1px solid lightgray;
}

#hobbyChooser-else{
    border:1px solid lightgray;
}

#hobbyChooser ul{
    margin:5px;
    padding-inline-start: 0;
}

#hobbyChooser li{
    user-select: none;
    list-style: none;
    padding:10px;
    padding-left:0;
    border: 1px solid lightgray;
}

#hobbyChooser-newContent{
    user-select:none;
    padding:5px;
    border-top:1px solid lightgray;
}

#hobbyChooser-search{
    text-align: left;
    font-size:24px;
}

#hobbyChooser-searchList{
    overflow: auto;
    height:200px;
}

#hobbyChooser-editNewTag{
    background:rgba(47,79,79,0.5);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#hobbyChooser-editNewTag-main{
    background-color: white;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    height:300px;
}