body{
    margin: 0;
    color:lightslategray;
}
div{
    margin: 20px 0 0;
}

button{
    margin: 0;
    color: white;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 10%;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
}

button:hover{
    color:lightslategray;
    background-color:whitesmoke;
}

input{
    color:lightslategray;
    padding: 5px;
    font: 400 20px Arial;
    box-sizing: content-box;
    width: 90%;
}

textarea{
    color:lightslategray;
    padding: 5px;
    font: 400 20px Arial;
    box-sizing: content-box;
    resize: vertical;
    width: 90%;
    height: 200px;
}

#form{
    margin: 20px auto;
    border: 1px solid dodgerblue;
    padding: 20px;
    width: 50%;
}

#date{
    margin: 15px;
    font-size: 22px;
}

#backButton{
    margin-right: 0px;
    margin-left: auto;
    color: dodgerblue;
    background-color: white;
    border: 1px solid dodgerblue;
    border-radius: 10%;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
}

#backButton:hover{
    border-width: 2px;
}

#hobbyList{
    margin: 0;
    padding-left:0;
    list-style:none;
    overflow: auto;
    width:93%;
    height:100px;
    border:1px solid dodgerblue;
}

#hobbyList li{
    border:1px solid lightgray;
    color:lightslategray;
    font: 400 25px Arial;
}

.hobbyListDisabled{
    background-color: rgb(235, 235, 228);
}