body{
    width:95%;
    height: 650px;
    position: relative;
    color:darkslategray;
}

img{
    position: absolute;
    bottom:0;
    right:0;
    width:300px;
    height:300px;
}

button{
    color: white;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 10%;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
}

button:hover{
    color:lightslategray;
    background-color:whitesmoke;
}

select{
    padding:5px;
    font-size:16px;
}

#icon{
    margin-bottom:10px;
    width:50px;
    height:50px;
    border-radius:50%;
    border: 1px solid lightgray;
}

#username{
    font-size: 28px;
}

.userData{
    padding:10px;
    width:300px;
    border:1px solid lightgray;
    box-shadow: 5px 5px 5px lightgray;
    margin-bottom:15px;
}

.block{
    margin-top:30px;
}

#title{
    display: inline-flex;
    margin:15px;
    padding:15px;
    color:darkslateblue;
    font-size:36px;
    border:3px double dodgerblue;
}