<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="icon" href="../images/favicon.ico">
        <link rel="StyleSheet" href="../css/calendar.css">
        <link rel="StyleSheet" href="../css/menubar.css">
    </head>

    <body>
        <div id="main">
            <div id="menu" class="userData">
                <div id="menu-profile" class="menu-item" v-bind:hidden="hidden">
                    <img id="menu-icon" v-bind:src="getPhotoURL()" alt="アイコン">
                    <div id="menu-username">{{getDisplayName()}}</div>
                </div>

                <div class="menu-item">
                    <ul>
                        <li>
                            <a class="nowhere">
                                <img src="../images/home_2.png" alt="ホーム">
                                <div>ホーム</div>
                            </a>
                        </li>
                        <li>
                            <a class="notnowhere">
                                <img src="../images/notification.png" alt="イベント通知">
                                <div>イベント通知</div>
                            </a>
                        </li>
                        <li>
                            <a class="notnowhere">
                                <img src="../images/community.png" alt="コミュニティー">
                                <div>コミュニティー</div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="menu-item-last">
                    <ul>
                        <li>
                            <a class="notnowhere" href="setting_menu.html">
                                <img src="../images/setting.png" alt="設定">
                                <div>設定</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="calendar">
                <div id="calendar-head">
                    {{head}}
                    <button v-on:click="toLastMonth()">前の月</button>
                    <button v-on:click="toThisMonth()">今月</button>
                    <button v-on:click="toNextMonth()">次の月</button>
                </div>
                <table>
                    <tr>
                        <td class="weeks" v-for="week in weeks" v-bind:class="week.class">{{week.weekname}}</td>
                    </tr>
                    <tr v-for="week in td">
                        <td class="days" v-for="day in week" v-bind:class="[day.class,{daysSelected:selectedDay===day.date.day}]"v-on:click="tdClicked(day.date.year, day.date.month, day.date.day, day.disabled, day.schedules)">
                            {{day.daynum}}
                            <div class="calendar-schedule" v-bind:hidden="!day.schedules.length">{{day.schedules.length}}件の予定...</div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="timeschedule">
                <div id="ts-head">{{head}}</div>
                <div id="ts-notFound" v-bind:hidden="found">{{notFoundMessage}}</div>
                <div v-bind:hidden="!found">{{schedules.length}}件の予定</div>
                <div class="ts-schedules" v-for="schedule in schedules" v-bind:style="{
                    'margin-top':(schedule.data.startTime.split(':')[0]*34+17)+(34/60*schedule.data.startTime.split(':')[1])+'px'}"
                >
                    {{schedule.data.title}}
                    <a v-bind:href="'../html/schedules_form.html?mode=edit&id='+schedule.id">編集</a>
                </div>
                <table v-bind:hidden="!found">
                    <tr v-for="time in times">
                        <td class="ts-time">{{time}}</td>
                        <td class="ts-bar"></td>
                    </tr>
                </table>
                <button v-on:click="toSchedulesForm" v-bind:disabled="!canAddEvent">予定を追加</button>
            </div>
        </div>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#config-web-app -->
            <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-auth.js"></script>
            <script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js"></script>

        <script src="../js/firebase.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="../js/userdata.js"></script>
        <script src="../js/calendar.js"></script>
        
    </body>
</html>