<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset = "UTF-8">
        <title>Form</title>
        <link rel="StyleSheet" href="../css/schedules_form.css">
    </head>

    <body>
        <div id="form">
            <div id="date">{{ date }}の予定</div>
            <button v-on:click="addSchedule()">追加</button>
            
            <p>タイトル</p>
            <input type="text" v-model="title">

            <p>開始時刻</p>
            <input type="time" v-model="startTime">

            <p>終了時刻</p>
            <input type="time" v-model="endTime">

            <p>場所</p>
            <input v-model="place">

            <p>参加者</p>
            <input v-model="participants">

            <p>コメント</p>
            <textarea v-model="comment"></textarea>

            <div>重要度 {{importanceMark}}</div>
            <input type="range" id="importanceSlider" v-on:click="showImportanceMark()" v-model="importance" value="0" min="0" max="2">
        </div>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#config-web-app -->
        <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js"></script>

        <script src="../js/firebase.js"></script>
        <script src = "../js/vue.js"></script>
        <script src = "../js/schedules_form.js"></script>
    </body>
</html>
